<template>
  <footer>
    Dominio público. 2024.
  </footer>
</template>
<style>
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    background-color: #bcd;
    text-align: center;
}
</style>
