<script setup>
import { ref, computed } from 'vue'
import Encabezado from './components/Encabezado.vue'
import Piedepagina from './components/Piedepagina.vue'
import { marked } from "marked"

const textoMd = ref("")

const htmlGen = computed(() => marked(textoMd.value))
</script>

<template>
  <Encabezado/>
  <div class="editor">
    <div class="texto-md">
      <h2>Digite un texto Markdown</h2>
      <textarea style="height:auto" 
                rows="16" 
                class='area-de-texto' 
                v-model='textoMd'>
      </textarea>
    </div>
    <div class="html-gen">
      <h2>Previsualización</h2>
      <div v-html='htmlGen' ></div>
    </div>
  </div>
  <Piedepagina/>
</template>

<style>
.editor {
  height: 100vh;
  width: 100%;
  display: flex;
}

.html-gen {
  width: 50%;
  padding: 1rem;
}

.area-de-texto {
  width: 100%
}

.texto-md {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: none;
  border-right: 1px solid #ccc;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  font-size: 3em;
  line-height: 1.1;
  text-align: center;
  padding: 1rem;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
</style>
